<header class="header   px-8 flex justify-between">
   <div>
      <h1><a href="#">Medical</a></h1>
   </div>
   <nav class="flex  ">
      <ul class="flex items-center gap-8">
         <li routerLink="/">Home</li>
         <li routerLink="/tumor-detection">Tumor detection</li>
         <ng-container *ngIf="currentUser() !=null ; else loggedOut">

            <li *ngIf="currentUser()?.role=='doctor'" routerLink="/doctor">Control</li>
            <li *ngIf="currentUser()?.role=='patient'" [routerLink]="['/patient', 'my-appointments']">My appointments
            </li>
            <li>
               <p-avatar [image]="currentUser()?.details?.imgUrl" styleClass="mr-2 " size="large" shape="circle" />
            </li>
            <li *ngIf="currentUser() !=null" (click)="onLogout()" class="cursor-pointer">
               Log out
            </li>


         </ng-container>
         <ng-template #loggedOut>
            <li routerLink="/auth">Log in</li>
         </ng-template>

      </ul>
   </nav>
</header>
